@font-face {
  font-family: "Inter";
  src: url("/fonts/inter");
}
body {
  background-image: url("/img/background");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  height: 98vh;
}

.container-button-menu {
  width: 120px;
  height: 81px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.container-button-menu:hover {
  cursor: pointer;
}
.container-button-menu .img-menu {
  width: 36px;
  height: 31px;
  margin-left: 0px;
  color: #FFFFFF;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.container-button-menu .text-menu {
  width: 74px;
  height: 20px;
  margin-left: 10px;
  font-family: "Inter";
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #FFFFFF;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 92%;
}
.container .content-container {
  width: 618px;
  height: 282px;
  margin: auto;
}
.container .content-container .title {
  width: 617px;
  height: 134px;
  margin: auto;
  margin-top: 0px;
  font-family: "Inter";
  font-weight: 700;
  font-size: 143px;
  line-height: 173px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #FFFFFF;
}
.container .content-container .subtitle {
  width: 416px;
  height: 30px;
  margin: auto;
  margin-top: 0px;
  font-family: "Inter";
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #FFFFFF;
}
.container .content-container .buttons-container {
  width: 470px;
  height: 50px;
  margin: auto;
  margin-top: 67px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.container .content-container .buttons-container .button-android {
  width: 170px;
  height: 50px;
  margin-left: 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: rgba(102, 252, 241, 0.35);
  border-radius: 6px;
}
.container .content-container .buttons-container .button-android:hover {
  cursor: pointer;
  background: #66FCF1;
  -webkit-transition: All 0.5s ease;
  -o-transition: All 0.5s ease;
  transition: All 0.5s ease;
}
.container .content-container .buttons-container .button-android .img-android {
  width: 36px;
  height: 36px;
  margin-left: 7px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.container .content-container .buttons-container .button-android .text-android {
  width: 103px;
  height: 30px;
  margin-left: 12px;
  font-family: "Inter";
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #FFFFFF;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.container .content-container .buttons-container .button-telegram {
  width: 189px;
  height: 50px;
  margin-left: 110px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: rgba(102, 252, 241, 0.35);
  border-radius: 6px;
}
.container .content-container .buttons-container .button-telegram:hover {
  cursor: pointer;
  background: #66FCF1;
  -webkit-transition: All 0.5s ease;
  -o-transition: All 0.5s ease;
  transition: All 0.5s ease;
}
.container .content-container .buttons-container .button-telegram .img-telegram {
  width: 36px;
  height: 36px;
  margin-left: 7px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.container .content-container .buttons-container .button-telegram .text-android {
  width: 122px;
  height: 36px;
  margin-left: 12px;
  font-family: "Inter";
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #FFFFFF;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.bg-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}
.bg-menu .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 358px;
  height: 100%;
  background: #FFFFFF;
}

.selector-text {
  margin-left: 6px;
  padding-top: 21px;
  width: 350px;
  height: 28px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.selector-text-two {
  margin-left: 6px;
  padding-top: 21px;
  width: 350px;
  height: 28px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.selector-text-two span {
  -webkit-user-select: all;
     -moz-user-select: all;
          user-select: all;
}

.selector {
  background: #FFFFFF;
  width: 358px;
  height: 70px;
  margin-top: 0px;
  margin-left: 0px;
}
.selector:hover {
  cursor: pointer;
  background: #C5C6C7;
  -webkit-transition: All 0.5s ease;
  -o-transition: All 0.5s ease;
  transition: All 0.5s ease;
}

.hr {
  margin-top: 0px;
  margin-left: 0px;
  width: 358px;
  height: 2px;
  background: #C5C6C7;
}