@import '_variables.scss';

@font-face {
	font-family: 'Inter';
	src: url("/fonts/inter");
}

body {
	background-image: url("/img/background");
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
	height: 100vh;
	overflow: hidden;
}

.container-button-menu {
	width: 120px;
	height: 32px;
	align-items: center;
	padding-top: 25px;
	padding-left: 25px;
	display: flex;
	user-select: none;

	&:hover {
		cursor: pointer;
	}

	.img-menu {
		width: 36px;
		height: 31px;
		margin-left: 0px;
		color: $tcolor;
		user-select: none;
	}

	.text-menu {
		width: 74px;
		height: 20px;
		margin-left: 10px;
		font-family: 'Inter';
		font-weight: 700;
		font-size: 22px;
		line-height: 27px;
		display: flex;
		align-items: center;
		text-align: center;
		color: $tcolor;
		user-select: none;
	}
}

.container {
	align-items: center;
	display: flex;
	height: 92vh;

	.content-container {
		width: 618px;
		height: 282px;
		margin: auto;

		.title {
			width: 617px;
			height: 134px;
			margin: auto;
			margin-top: 0px;
			font-family: 'Inter';
			font-weight: 700;
			font-size: 143px;
			line-height: 173px;
			display: flex;
			align-items: center;
			text-align: center;
			color: $tcolor;
		}

		.subtitle {
			width: 416px;
			height: 30px;
			margin: auto;
			margin-top: 0px;
			font-family: 'Inter';
			font-weight: 700;
			font-size: 22px;
			line-height: 27px;
			display: flex;
			align-items: center;
			text-align: center;
			color: $tcolor;
		}

		.buttons-container {
			width: 470px;
			height: 50px;
			margin: auto;
			margin-top: 67px;
			display: flex;

			.button-android {
				width: 170px;
				height: 50px;
				margin-left: 0px;
				align-items: center;
				display: flex;
				background: $bgcolor;
				border-radius: $bradius;

				&:hover {
					cursor: pointer;
					background: #66FCF1;
					transition: $trans;
				}

				.img-android {
					width: 36px;
					height: 36px;
					margin-left: 7px;
					user-select: none;
				}

				.text-android {
					width: 103px;
					height: 30px;
					margin-left: 12px;
					font-family: 'Inter';
					font-weight: 700;
					font-size: 28px;
					line-height: 34px;
					display: flex;
					align-items: center;
					text-align: center;
					color: $tcolor;
					user-select: none;
				}
			}

			.button-telegram {
				width: 189px;
				height: 50px;
				margin-left: 110px;
				align-items: center;
				display: flex;
				background: $bgcolor;
				border-radius: $bradius;

				&:hover {
					cursor: pointer;
					background: #66FCF1;
					transition: $trans;
				}

				.img-telegram {
					width: 36px;
					height: 36px;
					margin-left: 7px;
					user-select: none;
				}

				.text-android {
					width: 122px;
					height: 36px;
					margin-left: 12px;
					font-family: 'Inter';
					font-weight: 700;
					font-size: 28px;
					line-height: 34px;
					display: flex;
					align-items: center;
					text-align: center;
					color: $tcolor;
					user-select: none;
				}
			}
		}
	}
}

.menu {
	position: fixed;
	top: 0;
	left: -360px;
	width: 358px;
	height: 100vh;
	background: $tcolor;
	box-shadow: 6px 0px 2px rgba(0, 0, 0, 0.25);
}

.selector-text {
	margin-left: 6px;
	padding-top: 21px;
	width: 350px;
	height: 28px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 22px;
	line-height: 27px;
	color: #000000;
	user-select: none;
}

.selector-text-two {
	margin-left: 6px;
	padding-top: 21px;
	width: 350px;
	height: 28px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 22px;
	line-height: 27px;
	color: #000000;
	user-select: none;

	span {
		user-select: all;
	}
}

.container-contacts {
	display: none;
}

.selector {
	background: #FFFFFF;
	width: 358px;
	height: 70px;
	margin-top: 0px;
	margin-left: 0px;

	&:hover {
		cursor: pointer;
		background: #C5C6C7;
		transition: $trans;
	}
}

.hr {
	margin-top: 0px;
	margin-left: 0px;
	width: 358px;
	height: 2px;
	background: #C5C6C7;
}

.bg-menu {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: none;
	align-items: center;
	background: rgba(0, 0, 0, 0.7);

	.registration {
		margin: auto;
		display: none;
		width: 366px;
		height: 432px;
		background: $tcolor;
		border-radius: $bradius;

		.exit {
			width: 24px;
			height: 24px;
			margin-left: 339px;
			margin-top: 3px;

			&:hover {
				cursor: pointer;
			}
		}

		.text {
			width: fit-content;
			height: 22px;
			padding-left: 22px;
			padding-top: 18px;
			font-family: 'Inter';
			font-style: normal;
			font-weight: 400;
			font-size: 18px;
			line-height: 22px;
			display: flex;
			color: #000000;
		}

		.input {
			width: 314px;
			height: 50px;
			margin-left: 22px;
			margin-top: 0px;
			background: $tcolor;
			border: 2px solid #1F2833;
			border-radius: 6px;
			font-family: 'Inter';
			font-style: normal;
			font-weight: 400;
			font-size: 18px;
			line-height: 22px;
			align-items: center;
			color: #000000;
		}

		.error {
			width: fit-content;
			height: 22px;
			margin-left: 22px;
			margin-top: 4px;
			font-family: 'Inter';
			font-style: normal;
			font-weight: 400;
			font-size: 18px;
			line-height: 22px;
			display: flex;
			align-items: center;
			color: #45A29E;
		}

		.button {
			width: 322px;
			height: 54px;
			margin-left: 22px;
			margin-top: 4px;
			background: rgba(31, 40, 51, 0.75);
			border-radius: 6px;
			display: flex;
			align-items: center;

			&:hover {
				cursor: pointer;
				background: #1F2833;
				transition: $trans;
			}

			.sign_up {
				margin: auto;
				width: 176px;
				height: 27px;
				font-family: 'Inter';
				font-style: normal;
				font-weight: 400;
				font-size: 22px;
				line-height: 27px;
				display: flex;
				align-items: center;
				text-align: center;
				color: #FFFFFF;
				user-select: none;
			}
		}

		.sign_in-text {
			width: 143px;
			height: 22px;
			margin: auto;
			margin-top: 6px;
			font-family: 'Inter';
			font-style: normal;
			font-weight: 400;
			font-size: 18px;
			line-height: 22px;
			display: flex;
			align-items: center;
			text-align: center;
			color: #000000;
			user-select: none;

			&:hover {
				cursor: pointer;
			}
		}
	}

	.sign-in {
		margin: auto;
		width: 366px;
		height: 338px;
		background: $tcolor;
		border-radius: $bradius;
		display: none;

		.exit {
			width: 24px;
			height: 24px;
			margin-left: 339px;
			margin-top: 3px;

			&:hover {
				cursor: pointer;
			}
		}

		.text {
			width: fit-content;
			height: 22px;
			padding-left: 22px;
			padding-top: 18px;
			font-family: 'Inter';
			font-style: normal;
			font-weight: 400;
			font-size: 18px;
			line-height: 22px;
			display: flex;
			color: #000000;
		}

		.input {
			width: 314px;
			height: 50px;
			margin-left: 22px;
			margin-top: 0px;
			background: $tcolor;
			border: 2px solid #1F2833;
			border-radius: 6px;
			font-family: 'Inter';
			font-style: normal;
			font-weight: 400;
			font-size: 18px;
			line-height: 22px;
			align-items: center;
			color: #000000;
		}

		.error {
			width: fit-content;
			height: 22px;
			margin-left: 22px;
			margin-top: 4px;
			font-family: 'Inter';
			font-style: normal;
			font-weight: 400;
			font-size: 18px;
			line-height: 22px;
			display: flex;
			align-items: center;
			color: #45A29E;
		}

		.button {
			width: 322px;
			height: 54px;
			margin-left: 22px;
			margin-top: 4px;
			background: rgba(31, 40, 51, 0.75);
			border-radius: 6px;
			display: flex;
			align-items: center;

			&:hover {
				cursor: pointer;
				background: #1F2833;
				transition: $trans;
			}

			.sign_in-text {
				margin: auto;
				width: fit-content;
				height: 27px;
				font-family: 'Inter';
				font-style: normal;
				font-weight: 400;
				font-size: 22px;
				line-height: 27px;
				display: flex;
				align-items: center;
				text-align: center;
				color: #FFFFFF;
				user-select: none;
			}
		}

		.sign_up {
			width: fit-content;
			height: 22px;
			margin: auto;
			margin-top: 6px;
			font-family: 'Inter';
			font-style: normal;
			font-weight: 400;
			font-size: 18px;
			line-height: 22px;
			display: flex;
			align-items: center;
			text-align: center;
			color: #000000;
			user-select: none;

			&:hover {
				cursor: pointer;
			}
		}
	}
}