@import '_variables.scss';

@font-face {
	font-family: 'Inter';
	src: url("/fonts/inter");
}

body {
	background-image: url("/img/background");
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.container-button-menu {
	width: 120px;
	height: 31px;
	margin-left: 25px;
	margin-top: 25px;
	display: flex;
	user-select: none;

	&:hover {
		cursor: pointer;
	}

	.img-menu {
		width: 36px;
		height: 31px;
		margin-left: 0px;
		margin-top: 0px;
		color: $tcolor;
		user-select: none;
	}

	.text-menu {
		width: 74px;
		height: 20px;
		margin-left: 10px;
		margin-top: 6px;
		font-family: 'Inter';
		font-weight: 700;
		font-size: 22px;
		line-height: 27px;
		display: flex;
		align-items: center;
		text-align: center;
		color: $tcolor;
		user-select: none;
	}
}

.content-container {
	width: 670px;
	height: 281px;
	margin-left: 305px;
	margin-top: 208px;

	.title {
		width: 670px;
		height: 134px;
		margin-left: 16px;
		margin-top: 0px;
		font-family: 'Inter';
		font-weight: 700;
		font-size: 143px;
		line-height: 173px;
		display: flex;
		align-items: center;
		text-align: center;
		color: $tcolor;
	}

	.subtitle {
		width: 430px;
		height: 20px;
		margin-left: 116px;
		margin-top: 0px;
		font-family: 'Inter';
		font-weight: 700;
		font-size: 22px;
		line-height: 27px;
		display: flex;
		align-items: center;
		text-align: center;
		color: $tcolor;
	}

	.buttons-container {
		width: 538px;
		height: 50px;
		margin-left: 58px;
		margin-top: 77px;
		display: flex;

		.button-android {
			width: 217px;
			height: 50px;
			margin-left: 0px;
			margin-top: 0px;
			display: flex;
			background: $bgcolor;
			border-radius: $bradius;

			&:hover {
				cursor: pointer;
				background: #66FCF1;
				-webkit-transition: $trans;
				-moz-transition: $trans;
				-o-transition: $trans;
				-ms-transition: $trans;
				transition: $trans;
			}

			.img-android {
				width: 36px;
				height: 36px;
				margin-left: 7px;
				margin-top: 7px;
				user-select: none;
			}

			.text-android {
				width: 150px;
				height: 30px;
				margin-left: 12px;
				margin-top: 10px;
				font-family: 'Inter';
				font-weight: 700;
				font-size: 28px;
				line-height: 34px;
				display: flex;
				align-items: center;
				text-align: center;
				color: $tcolor;
				user-select: none;
			}
		}

		.button-website {
			width: 242px;
			height: 50px;
			margin-left: 79px;
			margin-top: 0px;
			background: $bgcolor;
			border-radius: $bradius;

			&:hover {
				cursor: pointer;
				background: #66FCF1;
				-webkit-transition: $trans;
				-moz-transition: $trans;
				-o-transition: $trans;
				-ms-transition: $trans;
				transition: $trans;
			}

			.text-website {
				width: 212px;
				height: 48px;
				margin-left: 15px;
				margin-top: 1px;
				font-family: 'Inter';
				font-weight: 700;
				font-size: 20px;
				line-height: 24px;
				display: flex;
				align-items: center;
				text-align: center;
				color: $tcolor;
				user-select: none;
			}
		}
	}
}